/* BASE */
body {
  background-image: url("images/layout/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "sinkin_sans600_semibold"; }

h1 {
  font-family: "NK_Monotype Corsiva";
  color: red; }

p {
  font-family: "sinkin_sans600_semibold"; }

strong {
  font-weight: 800; }

/* unvisited link */
a:link {
  text-decoration: none; }

/* visited link */
a:visited {
  text-decoration: none; }

/* mouse over link */
a:hover {
  text-decoration: none; }

/* selected link */
a:active {
  text-decoration: none; }

/* LAYOUT */
.align-center {
  margin: auto;
  text-align: center; }

.layout-padding {
  padding-left: 8px;
  padding-top: 5px; }

.network-style a {
  float: left; }

.network-style2 a {
  float: right;
  margin-top: 33px; }

.red {
  background-color: red; }

.red-text {
  color: red; }

.title {
  font-size: 30px;
  font-family: "sinkin_sans600_semibold"; }

.title a {
  color: red; }

.title a:hover {
  color: black; }

.underlined-text {
  text-decoration: underline; }

.subtitle {
  font-size: 20px;
  color: black;
  font-family: "sinkin_sans600_semibold"; }

.teststyle {
  font-size: 20px;
  color: black;
  font-family: "sinkin_sans600_semibold"; }

.subtitle a {
  font-size: 20px;
  color: black; }

.subtitle a:hover {
  color: red; }

.main-text {
  font-size: 18px;
  color: black; }

.main-link-text a {
  font-size: 30px;
  color: red; }

.main-link-text a:hover {
  color: black; }

.footer-slogan {
  color: white;
  font-size: 43px; }

.contact-footer {
  float: left; }

.contact-footer span {
  color: white;
  font-size: 20px; }

.three-pic-col {
  float: right; }

.renovations-style {
  list-style: square !important;
  display: list-item;
  color: black;
  margin-left: 38px;
  font-size: 18px; }

.img-border {
  border: 5px solid black; }

.color-link-style {
  font-size: 20px;
  font-family: "sinkin_sans600_semibold"; }

.color-link-style a {
  color: red; }

.color-link-style a:hover {
  color: black; }

/* Mobile Nav */
.mobile-nav {
  display: none; }

.mobile-nav ul li {
  display: block;
  background-color: black;
  padding: 7px;
  margin-bottom: 5px; }

.mobile-nav ul li a {
  color: white; }

.mobile-nav ul li:hover {
  display: block;
  background-color: red;
  padding: 7px;
  margin-bottom: 5px; }

.mobile-dropdown-nav {
  color: white;
  font-size: 7px !important; }

.dropdown-mobile-size {
  font-size: 15px !important;
  margin-left: 10px; }

.li-mobile-style {
  font-size: 20px; }

.hover_img h1 a {
  position: relative; }

.hover_img h1 a span {
  position: absolute;
  display: none;
  z-index: 99; }

.hover_img h1 a:hover span {
  display: block; }

/*Footer Nav Styles */
nav ul li {
  display: inline; }

.nav-footer ul li a {
  color: black;
  font-size: 20px;
  border-right: 3px solid black;
  padding-left: 10px;
  padding-right: 10px; }

.nav-footer-border {
  border-left: 3px solid black; }

.nav-footer ul li a:hover {
  color: white; }

.maincontentlayout {
  position: relative; }

/* Slide Show Styles */
#slideshow {
  margin: auto;
  position: relative;
  width: 100%;
  height: 630px;
  padding: 10px; }

#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px; }

/* Nav Styles */
.nav-border {
  background-color: black;
  width: 100%;
  height: 50px;
  padding-top: 10px;
  z-index: 10;
  position: relative; }

/*
li {
	font-size: 1.4vw;
}
*/
li {
  font-size: 20px; }

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 0px; }

.main-nav,
.drop-nav {
  background: white; }

.main-nav > li {
  float: left; }

.main-nav li:first-child {
  border-left: none; }

.main-nav a:hover {
  color: red; }

.main-nav a {
  color: white;
  display: block;
  padding: 0px  36px;
  padding-bottom: 0px;
  text-decoration: none; }

.dropdown {
  position: relative; }

.dropdown:after {
  font-size: .5em;
  display: block;
  position: absolute;
  top: 37%;
  right: 2%; }

.drop-nav {
  position: absolute;
  display: none;
  background-color: black; }

.drop-nav li {
  font-size: 20px; }

.drop-nav li a {
  color: white; }

.dropdown:hover > .drop-nav {
  display: block; }

.red-hover:hover a {
  background-color: black;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid white; }

.drop-nav li a:hover {
  background-color: red; }

/* Video EMBed responsive code */
.responsive-vid {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 60px;
  overflow: hidden; }

.responsive-vid iframe,
.responsive-vid object,
.responsive-vid embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* END OF = Video EMBed responsive code */
/* MODULE */
/* STATE */
/* THEME */
/* FORM */
input, textarea {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  border: black solid 3px;
  font-size: 16px;
  color: black;
  background-color: white; }

label {
  margin-bottom: 0px;
  font-size: 18px;
  color: black; }

.error {
  color: white; }

form {
  width: 100%; }

.val-style {
  text-align: center; }

/* Smartphones (portrait and landscape) ----------- */
@media (min-width: 1260px) and (max-width: 1324px) {
  #slideshow {
    height: 555px; } }
@media (min-width: 1181px) and (max-width: 1259px) {
  #slideshow {
    height: 525px; } }
@media (min-width: 1101px) and (max-width: 1181px) {
  #slideshow {
    height: 485px; } }
@media (min-width: 1041px) and (max-width: 1100px) {
  #slideshow {
    height: 454px; } }
@media (min-width: 975px) and (max-width: 1040px) {
  #slideshow {
    height: 425px; } }
@media (min-width: 944px) and (max-width: 974px) {
  #slideshow {
    height: 400px; } }
@media (min-width: 844px) and (max-width: 943px) {
  #slideshow {
    height: 360px; } }
@media (min-width: 766px) and (max-width: 843px) {
  #slideshow {
    height: 350px; } }
@media (min-width: 667px) and (max-width: 766px) {
  #slideshow {
    height: 490px; } }
@media (min-width: 587px) and (max-width: 666px) {
  #slideshow {
    height: 430px; } }
@media (min-width: 501px) and (max-width: 586px) {
  #slideshow {
    height: 380px; } }
@media (min-width: 401px) and (max-width: 500px) {
  #slideshow {
    height: 320px; } }
@media (min-width: 0px) and (max-width: 400px) {
  #slideshow {
    height: 270px; }

  .email {
    font-size: 4.5vw !important; } }
/* nav bar */
@media (max-width: 1429px) {
  li {
    font-size: 20px; }

  .main-nav a {
    padding: 0px  35px; } }
@media (max-width: 1428px) {
  li {
    font-size: 20px; }

  .main-nav a {
    padding: 0px  30px; } }
@media (max-width: 1427px) {
  li {
    font-size: 20px; }

  .main-nav a {
    padding: 0px  25px; } }
@media (max-width: 1426px) {
  li {
    font-size: 20px; }

  .main-nav a {
    padding: 0px  15px; } }
@media (max-width: 1425px) {
  li {
    font-size: 20px; }

  .main-nav a {
    padding: 0px  13px; } }
@media (max-width: 1424px) {
  li {
    font-size: 20px; }

  .main-nav a {
    padding: 0px  20px; } }
@media (max-width: 1300px) {
  li {
    font-size: 20px; }

  .main-nav a {
    padding: 0px  15px; } }
@media (max-width: 1200px) {
  li {
    font-size: 20px; }

  .main-nav a {
    padding: 0px  10px; } }
