/* 
						<div class="responsive-vid">
							<iframe width="1280" height="720" src="https://www.youtube.com/embed/wjxYZvQS9OM?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
						</div>
*/



/* 
Colors:
- #FFEFCD
- #DCC38B
- #AF9763


Fonts:
font-family: "arial";
*/


/* Drop Down Menus */

.navbar, .navbar-collapse, .navbar-default {
    background-color: #AF9763 !important; 
    font-family: "arial";
}

.container {
    width: 100%;
}

.navbar ul li a {
    color: #FFEFCD !important;
    font-family: "arial";
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    font-family: "arial";
    background-color: #DCC38B;
}

.navbar ul li a {
    color: #FFEFCD !important;
    font-family: "arial";
}

.navbar ul li {
    margin-left: 10px;
}

.dropdown-menu {
    background-color: #AF9763 !important; 
}



.dropdown-submenu {
    
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;

}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color:;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;

}








/* BASE */
body {
  font-family: "arial bold";
  background-color: #DCC38B;
  margin: 10px;	
  border: #FFEFCD 2px solid;
}


h1 {
  font-family: "arial";
  color: #AF9763; }

h2 {
  font-family: "arial";
  color: #AF9763; }

p {
  font-family: "arial";
   }

h4 {
	color: #FFEFCD;
	font-family: "arial";
}

h1 a {
	color: #AF9763;
}

h1 a:hover {
	color:#DCC38B;
}

li {
	font-family: "arial";
}



a[href^="tel:"] {
  color: #AF9763;
}

a[href^="tel:"]:hover {
  color: #DCC38B
}




/* unvisited link */
a:link {
  text-decoration: none; }

/* visited link */
a:visited {
  text-decoration: none; }

/* mouse over link */
a:hover {
  text-decoration: none; }

/* selected link */
a:active {
  text-decoration: none; }

/* LAYOUT */

.underline-word {
	text-decoration: underline;
}
.align-center {
  margin: auto;
  text-align: center; }

.layout-padding {
  padding-left: 8px;
  padding-top: 5px; }

.white-background {
  background-color: #FFEFCD;
  margin: 9px;	
}

.blue-background {
  background-color: #DCC38B;
  border: 3px solid #FFEFCD;
  margin: 0px;
}

.red-background {
  background-color: #FFEFCD;
  border: 3px solid #DCC38B;
  margin: 0px;
}

.outside-border {
	margin: -20px;	
}

.inside-border {
	border: 3px solid #af9763;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom:0px;
	margin-top: 19px;
}

.aboutheader {
	font-family: 'arial';
	font-size: 31px;
	color: #AF9763;
}

.title-location-style {
	font-family: 'arial';
	font-size: 1.3em;
	color: #AF9763;
	
}

.title-location-style a {
	font-family: 'arial';
	font-size: .9em;
	color: #AF9763;
	text-decoration: underline;
}

.title-location-style a:hover {
	font-family: 'arial';
	font-size: .9em;
	color: #DCC38B;
	text-decoration: underline;
}

.marginspace-faq {
	margin-left: 12px;
}

.moremarginspace-faq {
	margin-left: 25px;
}

.aboutsubheader {
	font-family: 'arial';
	font-size: 1.1em;
	color: #AF9763;
}

.biggeraboutsubheader {
	font-family: 'arial';
	font-size: 1.3em;
	color: #AF9763;
}

.aboutsubheader a {
	font-family: 'arial';
	font-size: 1.1em;
	color: #AF9763;
	text-decoration: underline;
}

.aboutsubheader a:hover {
	font-family: 'arial';
	font-size: 1.1em;
	color: #DCC38B;
	text-decoration: underline;
}

.aboutsubheader-smaller {
	font-family: 'arial';
	font-size: .95em;
	color: #AF9763;
}


.aboutsubheader-link {
	font-family: 'arial';
	font-size: 1.1em;
	color: #AF9763;
}

.aboutsubheader-link:hover {
	font-family: 'arial';
	font-size: 1.1em;
	color: #dcc38b; 
}

.contact-here-style {
	color: #FFEFCD;
}
.contact-here-style:hover {
	color: #dcc38b; 
	text-decoration: underline;
}

.main-header-style {
	font-family: "arial";
	font-size: 17px;
	text-align: center;
}

.network-style a {
  float: right; }

.network-style2 a {
  float: right;
  margin-top: 33px; }

.red {
  background-color: #AF9763; }

.red-text {
  color: red; }

.locationheader {
	font-size: 22px;
	text-align: right;
}

.appointmentstyle {
	font-size: 18px;
	text-align: right;
}


<!--  Table Li code  -->





.title {
  font-size: 30px;
  font-family: "cardobold";
  font-weight: 700; }

.contact-title {
  font-size: 40px;
  font-family: "cardobold";
  font-weight: 700; }

.contact-title a {
  font-size: 40px;
  font-family: "cardobold";
  font-weight: 700;
  color: red; }

.contact-title a:hover {
  font-size: 40px;
  font-family: "cardobold";
  font-weight: 700;
  color: black; }

.career-title {
  font-size: 40px;
  font-family: "cardobold";
  font-weight: 700; }

.home-owners-title {
  font-size: 45px;
  font-family: "cardobold";
  font-weight: 700; }

.title a {
  color: red; }

.title a:hover {
  color: black; }

.underlined-text {
  text-decoration: underline; }

.subtitle {
  font-size: 24px;
  color: black;
  font-family: "cardobold";
  font-weight: 800; }

.phone-text {
  font-size: 32px;
  color: black;
  font-family: "cardobold";
  font-weight: 800; }

.subtitle a {
  font-size: 24px;
  color: black; }

.subtitle a:hover {
  color: red; }

.teststyle {
  font-size: 20px;
  color: black;
  font-family: "sinkin_sans600_semibold"; }

.main-text {
  font-size: 21px;
  color: black; }

.main-text-career {
  font-size: 31px;
  color: black; }

.main-text-contact {
  font-size: 28px;
  color: black; }

.colorv-main-text {
  font-size: 21px;
  color: black; }

.colorv-main-text a {
  font-size: 21px;
  color: red; }

.colorv-main-text a:hover {
  font-size: 21px;
  color: black; }

.main-link-text a {
  font-size: 30px;
  color: red; }

.main-link-text a:hover {
  color: black; }



.contact-footer {
  float: left; }

.contact-footer span {
  color: white;
  font-size: 20px; }

.three-pic-col {
  float: right; }

.renovations-style {
  list-style: square !important;
  display: list-item;
  color: black;
  margin-left: 38px;
  font-size: 18px; }

.img-border {
  border: 5px solid black; }

.color-link-style {
  font-size: 20px;
  font-family: "sinkin_sans600_semibold"; }

.color-link-style a {
  color: red; }

.color-link-style a:hover {
  color: black; }



.address-style {
  font-size: 16px;
  color: black;
  margin-left: 11px; }

.phone-style {
  font-size: 22px;
  color: black; }

.phone-style-contact {
  font-size: 28px;
  color: black; }

.email a {
  color: black; }

.email a:hover {
  color: red; }

.email-career a {
  color: black;
  font-size: 24px; }

.email-career a:hover {
  color: red; }

/* Mobile Nav */
.mobile-nav {
  display: none; }

.mobile-nav ul li {
  display: block;
  background-color: black;
  padding: 7px;
  margin-bottom: 5px; }

.mobile-nav ul li a {
  color: white; }

.mobile-nav ul li:hover {
  display: block;
  background-color: red;
  padding: 7px;
  margin-bottom: 5px; }

.mobile-dropdown-nav {
  color: white;
  font-size: 19px !important; }

.dropdown-mobile-size {
  font-size: 19px !important;
  margin-left: 10px; }

.li-mobile-style {
  font-size: 22px; }

.hover_img h1 a {
  position: relative; }

.hover_img h1 a span {
  position: absolute;
  display: none;
  z-index: 99; }

.hover_img h1 a:hover span {
  display: block; }

/*Footer Nav Styles */

.nav-header-styles {
	
	font-family: "arial";
	text-align: center;
}

.contactinfostyle {
	font-family: "arial";
	color: #FFEFCD;
  font-size: 16px;
}

/* Make Nav footer bar aligned whatever way */
nav ul li {
  display: block;
text-align:left; 
padding-left: 20px;
	padding-bottom: 1px;
border-bottom: 2px solid #FFEFCD;
font-family: "arial";
}

.nav-footer ul li a {
  color: #FFEFCD;
  font-size: 16px;

 }



.nav-footer ul li a:hover {
  color: #DCC38B; }

.maincontentlayout {
  position: relative; }

/* Slide Show Styles */
#slideshow {
  margin: auto;
  position: relative;
  width: 100%;
  height: 470px;
  padding: 10px; }

#slideshow > div {
  position: absolute;
  top: 1px;
  left: 10px;
  right: 1px;
  bottom: 10px; }

/* Nav Styles */


.nav-border {
  background-color: #DCC38B;
  width:auto;
  height: 50px;
	padding-left: 50px;
  padding-top: 10px;
  z-index: 10;
  position: relative; }

/*
li {
	font-size: 1.4vw;
}
*/
li {
  font-size: 20px; }

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 0px;
  margin-top: 2px; }

.main-nav,
.drop-nav {
  background: white; }

.main-nav > li {
  float: left; }

.main-nav li:first-child {
  border-left: none; }

.main-nav a:hover {
  color: #AF9763; }

.main-nav a {
  color: #FFEFCD;
  display: block;
  padding: 0px  30px;
  padding-bottom: 0px;
  text-decoration: none; }

.dropdown {
  position: relative; }

.dropdown:after {
  font-size: .5em;
  display: block;
  position: absolute;
  top: 37%;
  right: 2%; }

.drop-nav {
  position: absolute;
  display: none;
  background-color: #AF9763; }

.drop-nav li {
  font-size: 20px;
width: 150%;
}

.drop-nav li a {
  color: #FFEFCD; }

.dropdown:hover > .drop-nav {
  display: block; }

.red-hover:hover a {
  background-color: #AF9763;
  color: #FFEFCD;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid #FFEFCD; }

.drop-nav li a:hover {
  background-color: #DCC38B; }

/* Video EMBed responsive code */
.responsive-vid {
  position: relative;
  padding-bottom: 56.45%;
  padding-top: 74px;
  overflow: hidden; }

.responsive-vid iframe,
.responsive-vid object,
.responsive-vid embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* END OF = Video EMBed responsive code */
/* MODULE */
/* STATE */
/* THEME */
/* FORM */


label {
  margin-bottom: 0px;
  font-size: 18px;
  color: #AF9763; }

.error {
  color: white; }

/* FORM */

input, textarea {
  display: block;
  border: #AF9763 solid 2px;
  font-size: 16px;
  color: #AF9763;
  background-color: #FFEFCD; }

.form-small-style {
	 font-size: 12px;
	 color: #AF9763;
	
}

.val-style {
  text-align: center;
	font-family: 'arial';
	font-size: 1.1em;
	color: #AF9763;
}

.val-color {
	background-color:#FFEFCD;
}

/* Smartphones (portrait and landscape) ----------- */
@media (min-width: 1260px) and (max-width: 1324px) {
  #slideshow {
    height: 385px; } }
@media (min-width: 1181px) and (max-width: 1259px) {
  #slideshow {
    height: 360px; } }
@media (min-width: 1101px) and (max-width: 1181px) {
  #slideshow {
    height: 330px; } }
@media (min-width: 1041px) and (max-width: 1100px) {
  #slideshow {
    height: 310px; } }
@media (min-width: 975px) and (max-width: 1040px) {
  #slideshow {
    height: 295px; } }
@media (min-width: 944px) and (max-width: 974px) {
  #slideshow {
    height: 280px; } }
@media (min-width: 844px) and (max-width: 943px) {
  #slideshow {
    height: 250px; } }
@media (min-width: 766px) and (max-width: 843px) {
  #slideshow {
    height: 230px; } }
@media (min-width: 667px) and (max-width: 766px) {
  #slideshow {
    height: 230px; } }
@media (min-width: 587px) and (max-width: 666px) {
  #slideshow {
    height: 200px; } }
@media (min-width: 501px) and (max-width: 586px) {
  #slideshow {
    height: 165px; } }
@media (min-width: 401px) and (max-width: 500px) {
  #slideshow {
    height: 140px; } }
@media (min-width: 0px) and (max-width: 400px) {
  #slideshow {
    height: 120px; }

  .email {
    font-size: 4.5vw !important; } }
/* Nav Bar */
@media (max-width: 1429px) {
  li {
    font-size: 20px; }

  .main-nav a {
    padding: 0px  25px; } }
@media (max-width: 1428px) {
  li {
    font-size: 20px; }

  .main-nav a {
    padding: 0px  30px; } }
@media (max-width: 1427px) {
  li {
    font-size: 20px; }

  .main-nav a {
    padding: 0px  25px; } }
@media (max-width: 1426px) {
  li {
    font-size: 20px; }

  .main-nav a {
    padding: 0px  15px; } }
@media (max-width: 1425px) {
  li {
    font-size: 20px; }

  .main-nav a {
    padding: 0px  13px; } }
@media (max-width: 1424px) {
  li {
    font-size: 20px; }

  .main-nav a {
    padding: 0px  12px; } }
@media (max-width: 1300px) {
  li {
    font-size: 20px; }

  .main-nav a {
    padding: 0px  9px; } }
@media (max-width: 1299px) {
  li {
    font-size: 19px; }

  .main-nav a {
    padding: 0px  9px; } }
@media (max-width: 1200px) {
  li {
    font-size: 19px; }

  .main-nav a {
    padding: 0px  10px; } }
@media (max-width: 1199px) {
  li {
    font-size: 18px; }

  .main-nav a {
    padding: 0px  10px; } }
@media (max-width: 1198px) {
  li {
    font-size: 17px; }

  .main-nav a {
    padding: 0px  10px; } }
@media (max-width: 1197px) {
  li {
    font-size: 16px; }

  .main-nav a {
    padding: 0px  15px; } }
@media (max-width: 1196px) {
  li {
    font-size: 15px; }

  .main-nav a {
    padding: 0px  17px; } }
@media (max-width: 1195px) {
  li {
    font-size: 15px; }

  .main-nav a {
    padding: 0px  15px; } }
@media (max-width: 1194px) {
  li {
    font-size: 14px; }

  .main-nav a {
    padding: 0px  17px; } }
@media (max-width: 1193px) {
  li {
    font-size: 15px; }

  .main-nav a {
    padding: 0px  14px; } }
@media (max-width: 1192px) {
  li {
    font-size: 14px; }

  .main-nav a {
    padding: 0px  16px; } }
@media (max-width: 1191px) {
  li {
    font-size: 14px; }

  .main-nav a {
    padding: 0px  15px; } }
@media (max-width: 1190px) {
  li {
    font-size: 13px; }

  .main-nav a {
    padding: 0px  17px; } }
@media (max-width: 1189px) {
  li {
    font-size: 14px; }

  .main-nav a {
    padding: 0px  13px; } }
@media (max-width: 1188px) {
  li {
    font-size: 14px; }

  .main-nav a {
    padding: 0px  12px; } }
