$main-color: black;
$main-color2: white;
$main-font: 'bebas_neueregular';
$main-font2: 'NK_Monotype Corsiva';
$main-font3: 'alegreya_sansmedium';
$main-font4: 'sinkin_sans600_semibold';


/* BASE */ 

body {
	background-image: url("images/layout/background.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	font-family: $main-font4;
}

h1 {
	font-family: $main-font2;
	color: red;
}

p {
	font-family: $main-font4;
}


/* unvisited link */
a:link {
	text-decoration: none;
}

/* visited link */
a:visited {
	text-decoration: none;
}

/* mouse over link */
a:hover {
	text-decoration: none;
}

/* selected link */
a:active { 
	text-decoration: none;
}



/* LAYOUT */ 
.align-center {
	margin: auto;
	text-align: center;
}

.layout-padding {
	padding-left: 8px;
	padding-top: 5px;
}

.network-style a  {
	float: left;
}

.network-style2 a  {
	float: right;
	margin-top: 33px;
}

.red {
	background-color: red;
}

.red-text {
	color: red;
}

.title{
	font-size: 30px;
	font-family: $main-font4;
}

.subtitle {
	font-size: 20px;
	color: $main-color;
	font-family: $main-font4;
}
 
.subtitle a {
	font-size: 20px ;
	color: $main-color;
}

.subtitle a:hover {
	color: red;
}

.main-text {
	font-size: 18px;
	color: $main-color;
}

.main-link-text a {
	font-size: 30px;
	color: red;
}

.main-link-text a:hover {
	color: $main-color;
}

.footer-slogan {
	color: $main-color2;
	font-size: 43px;
}

.contact-footer {
	float: left;
}

.contact-footer span {
	color: $main-color2;
	font-size: 20px;
}

.three-pic-col {
	float: right;
	
}

/* Mobile Nav */

.mobile-nav {
  display: none; 
}

.mobile-nav ul li {
	display: block;
	background-color: black;
	padding: 7px;
	margin-bottom: 5px;
}

.mobile-nav ul li a {
	color: white;
}

.mobile-nav ul li:hover {
	display: block;
	background-color: red;
	padding: 7px;
	margin-bottom: 5px;
}

.mobile-dropdown-nav  {
	color:white;
	font-size: 7px !important;
}

.dropdown-mobile-size {
	font-size: 15px !important;
	margin-left: 10px;
}

.li-mobile-style {
	font-size: 20px;
}


.hover_img h1 a { position:relative; }
.hover_img h1 a span { position:absolute; display:none; z-index:99; }
.hover_img h1 a:hover span { display:block; }


/*Footer Nav Styles */
nav ul li {
	display: inline;
}

.nav-footer ul li a {
	color: $main-color;
	font-size: 20px;
	border-right: 3px solid $main-color;
	padding-left: 10px;
	padding-right: 10px;
	
}
.nav-footer-border {
	border-left: 3px solid $main-color;
}

.nav-footer ul li a:hover {
	color: $main-color2;
}

.maincontentlayout {
    position: relative; 
	z-index: -10;
}

/* Slide Show Styles */

#slideshow { 
    margin: auto; 
    position: relative; 
    width: 100%; 
    height: 630px; 
    padding: 10px; 
	z-index: -10;
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}


/* Nav Styles */

.nav-border {
  background-color: black;
  width: auto;
  height: 50px;
  padding-top: 10px;
}

li {
	font-size: 1.4vw;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0; 
  padding-top: 0px;
}

.main-nav,
.drop-nav {
  background: $main-color2;
}

  .main-nav > li {
    float: left;
  }
  .main-nav li:first-child {
    border-left: none;
  }

.main-nav a:hover {
	color:red;
}
  .main-nav a {
    color: $main-color2;
    display: block;
    padding: 0px  36px;
	padding-bottom: 0px;
    text-decoration: none;
	
  }
.dropdown {
  position: relative;
}
.dropdown:after {
  font-size: .5em;
  display: block;
  position: absolute;
  top: 37%;
  right: 2%;	
}
.drop-nav {
  position: absolute;
  display: none;
  background-color: $main-color;	
}
.drop-nav li {
  font-size: 20px;	
}

.drop-nav li a {
	color: $main-color2;
}
.dropdown:hover > .drop-nav {
  display: block;
}

.red-hover:hover a {
	background-color: $main-color;
	color: $main-color2;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid $main-color2;
}

.drop-nav li a:hover {
	background-color: red;

}



/* Video EMBed responsive code */

.responsive-vid {
position: relative;
padding-bottom: 56.25%;
padding-top: 60px; 
overflow: hidden;
}


.responsive-vid iframe,
.responsive-vid object,
.responsive-vid embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

/* END OF = Video EMBed responsive code */


/* MODULE */ 
/* STATE */ 
/* THEME */ 


/* FORM */
input,textarea {
	display:block;
	margin-bottom: 15px;
	width: 100%;
	border: black solid 3px;
	font-size:2em;
	color: $main-color;
	background-color: $main-color2;
}

label {
	margin-bottom: 0px;
	font-size: 1.5em;
}

.error{
	color:$main-color2;
}

form{
	width:100%;
}

.val-style {
	text-align: center;
}




/* Smartphones (portrait and landscape) ----------- */
@media (min-width: 667px) and (max-width: 766px) {
#slideshow { 
    height: 490px; 
}}

@media (min-width: 587px) and (max-width: 666px) {
#slideshow { 
    height: 430px; 
}}

@media (min-width: 501px) and (max-width: 586px) {
#slideshow { 
    height: 380px; 
}}

@media (min-width: 401px) and (max-width: 500px) {
#slideshow { 
    height: 320px; 
}}

@media (min-width: 0px) and (max-width: 400px) {
#slideshow { 
    height: 270px; 
}
.email {
	font-size: 19px !important;
}
}