$main-color: black;
$main-color2: white;
$main-font: 'bebas_neueregular';
$main-font2: 'NK_Monotype Corsiva';
$main-font3: 'alegreya_sansmedium';
$main-font4: 'sinkin_sans600_semibold';
$main-font5: 'cardobold';

/* 
						<div class="responsive-vid">
							<iframe width="1280" height="720" src="https://www.youtube.com/embed/wjxYZvQS9OM?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
						</div>
*/


/* BASE */ 

body {
	font-family: $main-font5;
	background-color: lightgrey;
	border: lightgrey 4px solid;
	font-weight: 700;
	
}

h1 {
	font-family: $main-font2;
	color: red;
}

p {
	font-family: $main-font5;
	font-weight: 700;
}

strong {
	font-weight: 800;
}



/* unvisited link */
a:link {
	text-decoration: none;
}

/* visited link */
a:visited {
	text-decoration: none;
}

/* mouse over link */
a:hover {
	text-decoration: none;
}

/* selected link */
a:active { 
	text-decoration: none;
}



/* LAYOUT */ 
.align-center {
	margin: auto;
	text-align: center;
}

.layout-padding {
	padding-left: 8px;
	padding-top: 5px;
}

.white-background {
	background-color: white;
}

.network-style a  {
	float: right;
}

.network-style2 a  {
	float: right;
	margin-top: 33px;
}

.red {
	background-color: red;
}

.red-text {
	color: red;
}

.title{
	font-size: 30px;
	font-family: $main-font5;
	font-weight: 700;
}

.contact-title{
	font-size: 40px;
	font-family: $main-font5;
	font-weight: 700;
}

.contact-title a {
	font-size: 40px;
	font-family: $main-font5;
	font-weight: 700;
	color: red;
}

.contact-title a:hover {
	font-size: 40px;
	font-family: $main-font5;
	font-weight: 700;
	color: black;
}

.career-title{
	font-size: 40px;
	font-family: $main-font5;
	font-weight: 700;
}


.home-owners-title{
	font-size: 45px;
	font-family: $main-font5;
	font-weight: 700;
}

.title a {
	color: red;
}

.title a:hover {
	color: $main-color;
}

.underlined-text {
	text-decoration: underline;
}

.subtitle {
	font-size: 24px;
	color: $main-color;
	font-family: $main-font5;
	font-weight: 800;
}

.phone-text {
	font-size: 32px;
	color: $main-color;
	font-family: $main-font5;
	font-weight: 800;
}

.subtitle a {
	font-size: 24px ;
	color: $main-color;
}

.subtitle a:hover {
	color: red;
}

.teststyle {
	font-size: 20px;
	color: $main-color;
	font-family: $main-font4;
}
 


.main-text {
	font-size: 21px;
	color: $main-color;
}

.main-text-career {
	font-size: 31px;
	color: $main-color;
}

.main-text-contact {
	font-size: 28px;
	color: $main-color;
}


.colorv-main-text {
	font-size: 21px;
	color: $main-color;
}

.colorv-main-text a  {
	font-size: 21px;
	color: red;
}

.colorv-main-text a:hover  {
	font-size: 21px;
	color: black;
}

.main-link-text a {
	font-size: 30px;
	color: red;
}

.main-link-text a:hover {
	color: $main-color;
}

.footer-slogan {
	color: $main-color2;
	font-size: 43px;
}

.contact-footer {
	float: left;
}

.contact-footer span {
	color: $main-color2;
	font-size: 20px;
}

.three-pic-col {
	float: right;
}

.renovations-style {
	list-style: square !important;
	display: list-item;
	color: $main-color;
	margin-left: 38px;
	font-size: 18px;
}

.img-border {
	border: 5px solid black;
}

.color-link-style {
	font-size: 20px;
	font-family: $main-font4;
}

.color-link-style a {
	color: red;
}

.color-link-style a:hover {
	color: black;
}

.elite-font {
	font-family: $main-font2;
	font-size: 30px;
	color: red;
}

.elite-font a {
	font-family: $main-font2;
	font-size: 30px;
	color: red;
}

.elite-font a:hover {
	font-family: $main-font2;
	font-size: 30px;
	color: black;
}

.elite-font-contact {
	font-family: $main-font2;
	font-size: 46px;
	color: red;
	font-weight: 700;
}

.address-style {
	font-size: 16px;
	color: $main-color;
	margin-left: 11px;
}

.phone-style {
	font-size: 22px;
	color: $main-color;
}

.phone-style-contact {
	font-size: 28px;
	color: $main-color;
}

.email a {
	color: $main-color;
}

.email a:hover {
	color: red;
}

.email-career a {
	color: $main-color;
	font-size: 24px;
}

.email-career a:hover {
	color: red;
}



/* Mobile Nav */

.mobile-nav {
  display: none; 
}

.mobile-nav ul li {
	display: block;
	background-color: black;
	padding: 7px;
	margin-bottom: 5px;
}

.mobile-nav ul li a {
	color: white;
}

.mobile-nav ul li:hover {
	display: block;
	background-color: red;
	padding: 7px;
	margin-bottom: 5px;
}

.mobile-dropdown-nav  {
	color:white;
	font-size: 19px !important;
}

.dropdown-mobile-size {
	font-size: 19px !important;
	margin-left: 10px;
}

.li-mobile-style {
	font-size: 22px;
}


.hover_img h1 a { position:relative; }
.hover_img h1 a span { position:absolute; display:none; z-index:99; }
.hover_img h1 a:hover span { display:block; }


/*Footer Nav Styles */
nav ul li {
	display: inline;
}

.nav-footer ul li a {
	color: $main-color;
	font-size: 24px;
	border-right: 3px solid $main-color;
	padding-left: 10px;
	padding-right: 10px;
	
}
.nav-footer-border {
	border-left: 3px solid $main-color;
}

.nav-footer ul li a:hover {
	color: $main-color2;
}

.maincontentlayout {
    position: relative; 		
}

/* Slide Show Styles */

#slideshow { 
    margin: auto; 
    position: relative; 
    width: 100%; 
    height: 630px; 
    padding: 10px; 

}

#slideshow > div { 
    position: absolute; 
    top: 1px; 
    left: 10px; 
    right: 1px; 
    bottom: 10px; 
}


/* Nav Styles */

.nav-border {
  background-color: black;
  width: 100%;
  height: 50px;
  padding-top: 10px;
  z-index: 10;
  position: relative;
}

/*
li {
	font-size: 1.4vw;
}
*/

li {
	font-size: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0; 
  padding-top: 0px;
	margin-top: 2px; 
}

.main-nav,
.drop-nav {
  background: $main-color2;
}

  .main-nav > li {
    float: left;
  }
  .main-nav li:first-child {
    border-left: none;
  }

.main-nav a:hover {
	color:red;
}
  .main-nav a {
    color: $main-color2;
    display: block;
    padding: 0px  30px;
	padding-bottom: 0px;
    text-decoration: none;
	
  }
.dropdown {
  position: relative;
}
.dropdown:after {
  font-size: .5em;
  display: block;
  position: absolute;
  top: 37%;
  right: 2%;	
}
.drop-nav {
  position: absolute;
  display: none;
  background-color: $main-color;	
}
.drop-nav li {
  font-size: 20px;	
}

.drop-nav li a {
	color: $main-color2;
}
.dropdown:hover > .drop-nav {
  display: block;
}

.red-hover:hover a {
	background-color: $main-color;
	color: $main-color2;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid $main-color2;
}

.drop-nav li a:hover {
	background-color: red;

}



/* Video EMBed responsive code */

.responsive-vid {
position: relative;
padding-bottom: 56.45%;
padding-top: 74px; 
overflow: hidden;
}


.responsive-vid iframe,
.responsive-vid object,
.responsive-vid embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

/* END OF = Video EMBed responsive code */


/* MODULE */ 
/* STATE */ 
/* THEME */ 


/* FORM */
input,textarea {
	display:block;
	margin-bottom: 15px;
	width: 100%;
	border: black solid 3px;
	font-size:16px;
	color: $main-color;
	background-color: $main-color2;
}

label {
	margin-bottom: 0px;
	font-size: 18px;
	color: $main-color;
}

.error{
	color:$main-color2;
}

form{
	width:100%;
}

.val-style {
	text-align: center;
}




/* Smartphones (portrait and landscape) ----------- */
@media (min-width: 1260px) and (max-width: 1324px) {
#slideshow { 
    height: 555px; 
}}

@media (min-width: 1181px) and (max-width: 1259px) {
#slideshow { 
    height: 525px; 
}}

@media (min-width: 1101px) and (max-width: 1181px) {
#slideshow { 
    height: 485px; 
}}

@media (min-width: 1041px) and (max-width: 1100px) {
#slideshow { 
    height: 454px; 
}}

@media (min-width: 975px) and (max-width: 1040px) {
#slideshow { 
    height: 450px; 
}}

@media (min-width: 944px) and (max-width: 974px) {
#slideshow { 
    height: 535px; 
}}

@media (min-width: 844px) and (max-width: 943px) {
#slideshow { 
    height: 470px; 
}}

@media (min-width: 766px) and (max-width: 843px) {
#slideshow { 
    height: 460px; 
}}

@media (min-width: 667px) and (max-width: 766px) {
#slideshow { 
    height: 490px; 
}}

@media (min-width: 587px) and (max-width: 666px) {
#slideshow { 
    height: 430px; 
}}

@media (min-width: 501px) and (max-width: 586px) {
#slideshow { 
    height: 380px; 
}}

@media (min-width: 401px) and (max-width: 500px) {
#slideshow { 
    height: 320px; 
}}

@media (min-width: 0px) and (max-width: 400px) {
#slideshow { 
    height: 270px; 
}
.email {
	font-size: 4.5vw !important;
}
}




/* Nav Bar */

@media (max-width: 1429px) {
 li {
		font-size: 20px;
	}
	
.main-nav a {
padding: 0px  25px;
  }
}

@media (max-width: 1428px) {
 li {
		font-size: 20px;
	}
	
.main-nav a {
padding: 0px  30px;
  }
}

@media (max-width: 1427px) {
 li {
		font-size: 20px;
	}
	
.main-nav a {
padding: 0px  25px;
  }
}

@media (max-width: 1426px) {
 li {
		font-size: 20px;
	}
	
.main-nav a {
padding: 0px  15px;
  }
}

@media (max-width: 1425px) {
 li {
		font-size: 20px;
	}
	
.main-nav a {
padding: 0px  13px;
  }
}

@media (max-width: 1424px) {
 li {
		font-size: 20px;
	}
	
.main-nav a {
padding: 0px  12px;
  }
	

}

@media (max-width: 1300px) {
 li {
		font-size: 20px;
	}
	
.main-nav a {
padding: 0px  9px;
  }
}
	
@media (max-width: 1299px) {
 li {
		font-size: 19px;
	}
	
.main-nav a {
padding: 0px  9px;
  }	

}

@media (max-width: 1200px) {
 li {
		font-size: 19px;
	}
	
.main-nav a {
padding: 0px  10px;
  }
	

}

@media (max-width: 1199px) {
 li {
		font-size: 18px;
	}
	
.main-nav a {
padding: 0px  10px;
  }
	

}

@media (max-width: 1198px) {
 li {
		font-size: 17px;
	}
	
.main-nav a {
padding: 0px  10px;
  }
	

}

@media (max-width: 1197px) {
 li {
		font-size: 16px;
	}
	
.main-nav a {
padding: 0px  15px;
  }
	

}

@media (max-width: 1196px) {
 li {
		font-size: 15px;
	}
	
.main-nav a {
padding: 0px  17px;
  }
	

}

@media (max-width: 1195px) {
 li {
		font-size: 15px;
	}
	
.main-nav a {
padding: 0px  15px;
  }
	

}


@media (max-width: 1194px) {
 li {
		font-size: 14px;
	}
	
.main-nav a {
padding: 0px  17px;
  }
	

}

@media (max-width: 1193px) {
 li {
		font-size: 15px;
	}
	
.main-nav a {
padding: 0px  14px;
  }
	

}

@media (max-width: 1192px) {
 li {
		font-size: 14px;
	}
	
.main-nav a {
padding: 0px  16px;
  }
	

}

@media (max-width: 1191px) {
 li {
		font-size: 14px;
	}
	
.main-nav a {
padding: 0px  15px;
  }
	

}

@media (max-width: 1190px) {
 li {
		font-size: 13px;
	}
	
.main-nav a {
padding: 0px  17px;
  }
	

}

@media (max-width: 1189px) {
 li {
		font-size: 14px;
	}
	
.main-nav a {
padding: 0px  13px;
  }
	

}

@media (max-width: 1188px) {
 li {
		font-size: 14px;
	}
	
.main-nav a {
padding: 0px  12px;
  }
	

}

